/* src/index.css */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  padding-left: 240px; /* Ajusta o conteúdo para não sobrepor o menu lateral */
}

.MuiDrawer-root {
  width: 240px;
}

.MuiDrawer-paper {
  width: 240px;
}
